<%- include('partials/header') %>

<h1 class="ui header centered"><%=albums[0].artists[0].name%> Albums</h1>

    <div class="ui cards centered">
        <% albums.forEach(function (album) {
            if (album.album_type === 'album') { %>
        <div class="card">
          <div class="image">
            <% if (album.images[0]) { %>
            <img src="<%= album.images[0].url %>">
            <% } else { %>
            <img src="../public/images/unknown.jpg">
            <% } %>
            </div>
            <h3 class="ui header centered"><%= album.name %></h3>
            <a href="/<%=listId%>/add/<%=album.id%>" role="button" class="ui mini button green"> Add to My List</a>
            <% } %>
        </div>
        <% }) %>
    </div>

    <%- include('partials/footer') %>