<%- include('partials/header') %>

  <header class="ui header centered">
    <h1>Artist Search Results</h1>
  </header>


  <div class="ui cards centered">
    <% searchResults.artists.items.forEach(function (artist) { %>
    <div class="card">
      <a href="/<%=listId%>/albums/<%= artist.id %>">
        <div class="image">
          <% if (artist.images[0]) { %>
          <img class="ui fluid image" src="<%= artist.images[0].url %>">
          <% } else { %>
          <img class="ui fluid image" src="../public/images/unknown.jpg">
          <% } %>
        </div>
        <div class="content">
          <div class="ui header centered">
            <% if (artist.name) { %>
            <%= artist.name %>
            <% } %>
          </div>
        </div>
      </a>
    </div>
    <% }) %>
  </div>


  <%- include('partials/footer') %>