<%- include('partials/header') %>

</head>

<body>
  <nav>
    <ul class="nav-links">
      <a href="/home" class="logo">tenners <i class="fas fa-headphones"></i></a>
      <li class="nav-item"><a href="/logout" role="button">Log Out</a></li>
    </ul>
  </nav>

  <header class="home-header">
    <h1>Your List</h1>
    <div class="green-button">
      <a href="/search" role="button">Add Music</a>
    </div>
  </header>


  <div class="home-card-container">

    <% faveAlbums.forEach(function (album){ %>
    <div class="home-card">
      <img src="<%=album.art%>">
      <h3><%=album.album%></h3>
      <p><%=album.artist%></p>
      <div class="card-album-details">
        <a href="" role="button" class="green-button-sm">Details</a><a href="/remove/<%=album._id%>" role="button"
          class="red-button-sm">Remove</a>
      </div>
    </div>
    <% }) %>

  </div>




  <%- include('partials/footer') %>